---
const {href, padding, hover} = Astro.props


---

<a href={href} target="_blank" class={`border border-white/10 ${padding} rounded-full flex items-center gap-x-3 ${hover} bg-white/5`}>
  <slot/>
</a>