---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/experience/Experience.astro';
import Projects from '../components/projects/Projects.astro';


---

<Layout title="Pablo Alvarez's Portfolio - Programmer and Web Developer">
	<main class="text-white items-center md:w-[500px] lg:w-[700px] mx-2   md:ml-0 md:mr-0">
		<div>
			<AboutMe/>
		</div>

		<div id="experience" class="mt-40">
			<Experience/>
		</div>

		<div id="projects" class="mt-40">
			<Projects/>
		</div>
		
	</main>
</Layout>