---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
  {
    date:" Currently...",
    project: "Web Developer in UO-Solution",
    description: "Working on the company's main project, Peachy Club, and developing landing pages for the entire continent.",
    tecnologies: ["Next.js", "React", "TypeScript", "JavaScript", "Figma", "Tailwind CSS"]
  },
  {
    date:" Currently...",
    project: "Developing Forum",
    description: "Forum is a landing page for a nutritional event that will be held soon in Mexico, featuring the participation of health professionals.",
    tecnologies: ["HTML5", "CSS3", "Tailwind CSS", "JavaScript", "Figma"]
  },
  {
    date:"September/October 2023",
    project: "developed Gallileo",
    description: "Gallileo was a landing page for a technological event held in Mexico that featured participants from all over the world.",
    tecnologies: ["HTML5", "CSS3", "Tailwind CSS", "JavaScript", "Figma"]
  },
]
---

<ol class="relative border-s border-gray-700 ml-4">     
  {EXPERIENCE.map(experience =>
    <li class="mb-10 ms-4">
      <ExperienceItems {...experience}/>
    </li>
  )}
</ol>

